
.drop{
  /* margin: 5px;
  border: 5px solid black; */
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  padding : 2px;
}

.main{
  padding : 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dropzone-input{
  width: 68px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
  height: 27px;
  width: 70px;
}

th{
  padding: 16px;
}